{% include 'public_header.html' %}

  <img src="/static/images/bg-1.jpg" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" style="height:500px; width:1700px;">
                        </div>
<center>
	<h1>Registration form</h1>
	<form method="post">
		<table>
			<tr>
				<th>First Name</th>
					<td><input type="text" name="fname"></td>
				</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text" name="lname"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="pl"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="Number" name="phone"></td>
			</tr>
            <tr>
				<th>Email</th>
				<td><input type="text" name="Email"></td>
			</tr>
            <tr>
				<th>Pincode</th>
				<td><input type="Number" name="Pincode"></td>
			</tr>
            <tr>
				<th>License Number</th>
				<td><input type="text" name="Licensenumber"></td>
			</tr>
			<tr>
            <tr>
				<th>User Name</th>
				<td><input type="text" name="uname"></td>
			</tr>

				<th>Password</th>
				<td><input type="text" name="pass"></td>
			</tr>
			<tr>
				<td colspan="2"align="center"><input type="submit" name="register" value="Register"></td>
			</tr>
		</table>
	</form>
</center>
{% include 'footer.html' %}